body{
    background-color: rgb(190, 190, 190)!important;
}

.primary-color{
    background-color: #9D2CD2;
}

.content-profile{
    margin-top: 20px!important;
}

.footer-of-page {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #9D2CD2;
    color: white;
    text-align: center;
    width: 100%;
}

  .content-sections{
    margin-top: 30px!important;
  }